body {
  margin: 0;
  font-family: "Muli", sans-serif;
  background-color: #e86060;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #e86060;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
}

.header__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile img {
  width: 40px;
}

.header__profile span {
  margin-left: 10px;
  display: block;
  color: white;
}

.header__dropdown {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  margin: 0 0 0 -14px;
  text-align: right;
}

.header__dropdown li {
  margin: 10px 0;
}

.header__dropdown li a {
  text-decoration: none;
  color: white;
}

.header__dropdown li a:hover {
  text-decoration: underline;
}

.header__menu:hover .header__dropdown {
  display: block;
}

.main {
  height: 300px;
  text-align: center;
}

.main__title {
  font-size: 1.5em;
  color: white;
}

.searcher {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 1em;
  color: white;
  height: 50px;
  width: 70%;
}

.searcher::placeholder {
  color: white;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: rebeccapurple;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.45s transform, opacity;
  transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* .carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
} */
